@model  DoAnTotNghiep.Models.Post
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<section class="breadcrumb-section set-bg" data-setbg="/Images/bannerctsp.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>BlogDetail</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li>@Html.ActionLink("All", "Blog", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                            @Html.Action("CategoryPostPartial", "Product")

                        </ul>
                    </div>
                    @*<div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="img/blog/sidebar/sr-1.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="@Url.Content("~/Images/" + Model.Post_image)" alt="">
                    <p>
                        @Model.Content
                    </p>

                </div>

            </div>
        </div>
    </div>
    <style>
        .pagination li {
            border-width: 20px;
            margin-left: 50px;
        }

        .pagination {
            margin-left: 367px;
        }

        .trang {
            margin-left: 1075px;
        }

        .pagination li active a {
            background-color: green;
        }
    </style>
</section>
<!-- Blog Details Section End -->
<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Post You May Like</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.related_post)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="@Url.Content("~/Images/" + item.Post_image)" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> @item.Date_post</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="@Url.Action("BlogDetail", "Product", new { @ID_CategoryP = item.ID_CategoryP })">@item.Post_Name</a></h5>
                            <p>@item.Post_Summary</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

