@model  DoAnTotNghiep.Models.Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

}
<div class="message-box" id="messageBox"></div>
<script src="~/Scripts/BaseScript/BaseScripts.js"></script>
<style>
    .pagination li {
        border-width: 20px;
        margin-left: 50px;
    }

    .pagination {
        margin-left: 367px;
    }

    .trang {
        margin-left: 1075px;
    }

    .pagination li active a {
        background-color: green;
    }

    .message-box {
        width: 20%;
        height: 8%;
        display: none;
        position: fixed;
        top: 10%;
        left: 90%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 5px;
        background-color: #7fad39;
        z-index: 9999;
        text-align: center
    }

    .success {
        color: whitesmoke;
    }

    .error {
        border-color: red;
        color: red;
    }
</style>

<section class="breadcrumb-section set-bg" data-setbg="/Images/bannerctsp.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Product Details</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Product details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content("/Images/" + Model.Product_Img)" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Product_Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.Price$</div>
                    <p>
                        @Model.Sort_desc
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a onclick="addShop(@Model.ID_Product)" class="primary-btn" style="color:white">ADD TO CARD</a>
                    <a onclick="addFavorites(@Model.ID_Product)"" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li>
                            <p>
                                + Enjoy your choice with +500 2024 tree samples <br />
                                + 20% discount on the occasion of Tet Giap Thin <br />
                                Our products are continuously updated daily, so please contact us directly via Facebook or zalo so we can send you the latest product samples at the store.
                            </p>
                        </li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Characteristic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Care tips</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    - Common Name: @Model.Common_Name <br />
                                    - Scientific Name: @Model.Scientific_Name <br />
                                    - Plant Family: @Model.Plant_family <br />
                                </p>

                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Characteristic</h6>
                                <p>
                                    @Model.Characteristic
                                </p>

                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Care tips</h6>
                                <p>
                                    @Model.Care_tips
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.related_products)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <a href="@Url.Action("ProductDetail", "Product", new { @ID_Product = item.ID_Product })"><img src="@Url.Content("~/Images/" + item.Product_Img)" /></a>
                            <ul class="product__item__pic__hover">
                                <li><a onclick="addFavorites(@item.ID_Product)"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a onclick="addShop(@item.ID_Product)"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>@item.Product_Name</h6>
                            <h5>@item.Price $</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="message-box" id="messageBox"></div>
<script src="~/Scripts/BaseScript/BaseScripts.js"></script>