@using DoAnTotNghiep.Data
@model PagedList.IPagedList<DoAnTotNghiep.Models.DTO.OrderDTO>
@{
    var filter = ViewData["Filter"] as DoAnTotNghiep.Data.Filter;
}

<div style="padding: 40px">
    <div class="row">
        <div class="col-md-6">
            <h4 class="fw-bold pb-3 mb-4"><span class="text-muted fw-light">Order /</span> List of Cancelled Orders</h4>
        </div>
        <div class="col-md-6 ">
            @*<div class="flex-row justify-content-end" style="display: flex">
                    <a class="btn btn-primary" style="margin-right: 10px" href="@Url.Action("Create")">Thêm mới</a>
                </div>*@
        </div>
    </div>
    <div class="card">
        <form id="form" class="m-3">
            @Html.HiddenFor(m => filter.PageIndex)
            @Html.HiddenFor(m => filter.PageSize)
            <div class="row">
                <div class="col-md-4">
                    <label>Keyword</label>
                    @Html.TextBoxFor(m => filter.Keyword, new { @class = "form-control", @placeholder = "Enter keyword: buyer name, email", @type = "text" })
                </div>
                <div class="col-md-2" style="display: flex; flex-direction: column;justify-content: end;">
                    <span class="input-group mb-0">
                        <button type="submit" class="btn btn-info mb-0"><i class="fa fa-search"></i> Search</button>
                    </span>
                </div>
            </div>
        </form>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-bordered mb-3">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Invoice</th>
                        <th>Buyer</th>
                        <th>Total Amount</th>
                        <th>Purchase Date</th>
                        <th>Payment</th>
                        <th>Status</th>
                        @*<th>Chức năng</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = (Model.PageNumber - 1) * Model.PageSize + 1;
                    }
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@stt</td>
                                <td>@item.ID_Order</td>
                                <td><strong>@item.Username</strong></td>
                                <td>@item.Total_money</td>
                                <td>@(item.Date_Order.HasValue ? item.Date_Order.Value.ToString("dd/MM/yyyy") : "")</td>
                                <td>
                                    <span>
                                        @(Constant.PaymentStatusName(item.Payment_Status))
                                    </span>
                                </td>
                                <td>@(Constant.OrderStatusName(item.Order_Status))</td>
                                @*<td>
                                    @if (item.Order_Status == (int)OrderStatus.Da_Dat_Hang)
                                    {
                                        <a class="btn btn-primary" style="background-color: forestgreen" href="@Url.Action("UpdateStatus", new { id = item.ID_Order, status = (int)OrderStatus.Da_Xac_Nhan })">Xác nhận</a>
                                        <a class="btn btn-primary" style="background-color: red" href="@Url.Action("UpdateStatus", new { id = item.ID_Order, status = (int)OrderStatus.Da_Huy })">Hủy đơn</a>
                                    }
                                    else if (item.Order_Status == (int)OrderStatus.Da_Xac_Nhan)
                                    {
                                        <a class="btn btn-primary" style="background-color: orange" href="@Url.Action("UpdateStatus", new { id = item.ID_Order, status = (int)OrderStatus.Dang_Giao })">Giao hàng</a>
                                    }
                                    else if (item.Order_Status == (int)OrderStatus.Dang_Giao)
                                    {
                                        <a class="btn btn-primary" style="background-color: cornflowerblue" href="@Url.Action("UpdateStatus", new { id = item.ID_Order, status = (int)OrderStatus.Da_Hoan_Thanh })">Xác nhận thanh toán</a>
                                    }
                                    else
                                    {

                                    }
                                </td>*@
                            </tr>
                            stt++;
                        }
                    }

                </tbody>
            </table>

            <div class="d-flex flex-row justify-content-end p-2">
                @if (Model.Count() > 0)
                {
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" onclick="toPage(1)" style="cursor: pointer">Head</a>
                            </li>
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" onclick="toPage(@(Model.PageNumber - 1))" style="cursor: pointer">Backward</a>
                            </li>
                            @if (Model.Count() > 0)
                            {
                                for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" onclick="toPage(@i)" style="cursor: pointer">@i</a>
                                    </li>
                                }
                            }
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" onclick="toPage(@(Model.PageNumber + 1))" style="cursor: pointer">Next</a>
                            </li>
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" onclick="toPage(@(Model.PageCount))" style="cursor: pointer">End</a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>

    <hr class="my-5" />

</div>

<script>
    function toPage(index) {
        $("#filter_PageIndex").val(index)
        $("#form").submit()
    }
</script>