@using System.Web.UI.WebControls;
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CaycanhNinhBinh</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    @*<link rel="stylesheet" href="~/Asset/css/bootstrap.min.css" type="text/css">*@
    <link href="~/Asset/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/css/style.css" type="text/css">
</head>

<body>
    @{ var u = Session["use"] as DoAnTotNghiep.Models.Userr; }

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/Asset/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                <li><a href="@Url.Action("Order", "Product")"><i class="fa fa-list-alt"></i> <span>0</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="~/Asset/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                @*<li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>*@
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Hello <a href="@Url.Action("Profile", "User", new { id = u.ID_User })" id="Email">@u.Email </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" style="display:inline">
                        <div class="header__top__right">
                            <div class="header__top__right__auth">
                                @*<a href="./User/Login"><i class="fa fa-user"></i> Login</a>*@
                                <a href="./User/Logout"><i class="fa fa-sign-out"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="~/Asset/img/logo2.png" style="height: 80px; width: 200px; margin-left: 25px;object-fit: contain" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li >@Html.ActionLink("Home", "Index", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                            <li><a onclick="shop()">Shop</a></li>
                            @*<li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>*@
                            <li>@Html.ActionLink("Blog", "Blog", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="@Url.Action("Favorite","Product")"><i class="fa fa-heart"></i> <span id="favorQty">@ViewBag.FavorQty</span></a></li>
                            <li><a href="@Url.Action("Cart","Product")"><i class="fa fa-shopping-bag"></i> <span id="cartQty">@ViewBag.CartQty</span></a></li>
                            <li><a href="@Url.Action("Order", "Product")"><i class="fa fa-list-alt"></i> </a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
     @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/Asset/img/logo2.png" height="70px" ; width="70px" alt=""></a>
                        </div>
                        <ul>
                            <li>Address:209 Xuan Thanh, Tan Thinh, Ninh Bình</li>
                            <li>Phone: +84962601281</li>
                            <li>Email: dinhthihuong912@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>List of stores</h6>
                        <ul>
                            <li style="width: 350px">500 Hoang Hoa Tham Street,Ba Dinh Ward,Ha Noi</li>
                            <li style="width: 350px">323 Le Loi Street, Ben Thanh Ward, District 1</li>
                            
                        </ul>                    
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Asset/css/style.css"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/jquery.nice-select.min.js"></script>
    <script src="~/Asset/js/jquery-ui.min.js"></script>
    <script src="~/Asset/js/jquery.slicknav.js"></script>
    <script src="~/Asset/js/mixitup.min.js"></script>
    <script src="~/Asset/js/owl.carousel.min.js"></script>
    <script src="~/Asset/js/main.js"></script>


</body>

</html>
<script>
    function shop() {
        debugger;
        var email = $("#Email").text().trim();
        $.post({
            url: 'https://localhost:44353/Product/Shop',
            dataType: 'json',
            type: 'POST',
            data: {
                email: email
            },
            success: function (res) {
                if (res.success == true) {
                    window.location = "https://localhost:44353/Product/ViewShop?page=1&minPrice=0&maxPrice=0";
                }
                else {
                    if (res.message == "Yêu cầu đăng nhập") {
                        window.location = "https://localhost:44353/User/Login";
                    }
                }
            },
            error: function (xhr, status, error) {
                console.error(status + ': ' + error);
            }
        });
    }
</script>
